data_directory = '/var/lib/postgresql/12/main'		# use data in another directory
					# (change requires restart)
hba_file = '/etc/postgresql/12/main/pg_hba.conf'	# host-based authentication file
					# (change requires restart)
ident_file = '/etc/postgresql/12/main/pg_ident.conf'	# ident configuration file
					# (change requires restart)
external_pid_file = '/var/run/postgresql/12-main.pid'			# write an extra PID file
					# (change requires restart)
listen_addresses = "{{ postgresql.conf_Ip }}"		# what IP address(es) to listen on;
					# comma-separated list of addresses;
					# defaults to 'localhost'; use '*' for all
					# (change requires restart)
port = 5432				# (change requires restart)
max_connections = 100			# (change requires restart)
unix_socket_directories = '/var/run/postgresql'	# comma-separated list of directories
					# (change requires restart)
ssl_cert_file = '/etc/ssl/certs/ssl-cert-snakeoil.pem'
ssl_key_file = '/etc/ssl/private/ssl-cert-snakeoil.key'
shared_buffers = 128MB			# min 128kB
					# (change requires restart)
					#   windows
					# (change requires restart)
dynamic_shared_memory_type = posix	# the default is the first option
					# supported by the operating system:
max_wal_size = 1GB
min_wal_size = 80MB
log_line_prefix = '%m [%p] %q%u@%d '		# special values:
					#   %a = application name
					# than the specified size in kilobytes;
					# -1 disables, 0 logs all temp files
log_timezone = 'Etc/UTC'
cluster_name = '12/main'			# added to process titles if nonempty
					# (change requires restart)
stats_temp_directory = '/var/run/postgresql/12-main.pg_stat_tmp'
					# requires track_counts to also be on.
					# their durations, > 0 logs only
					# actions running at least this number
					# of milliseconds.
					# (change requires restart)
					# vacuum
					# analyze
					# (change requires restart)
					# before forced vacuum
					# (change requires restart)
					# autovacuum, in milliseconds;
					# -1 means use vacuum_cost_delay
					# autovacuum, -1 means use
					# vacuum_cost_limit
					#   debug5
					#   debug4
					#   debug3
					#   debug2
					#   debug1
					#   log
					#   notice
					#   warning
					#   error
					# only default tablespace
						# before index cleanup, 0 always performs
						# index cleanup
datestyle = 'iso, mdy'
timezone = 'Etc/UTC'
					# abbreviations.  Currently, there are
					#   Default
					#   Australia (historical usage)
					#   India
					# You can create your own file in
					# share/timezonesets/.
					# selects precise output mode
					# encoding
lc_messages = 'C.UTF-8'			# locale for system error message
					# strings
lc_monetary = 'C.UTF-8'			# locale for monetary formatting
lc_numeric = 'C.UTF-8'			# locale for number formatting
lc_time = 'C.UTF-8'				# locale for time formatting
default_text_search_config = 'pg_catalog.english'
				
include_dir = 'conf.d'		
				
